.table {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for 7 data points */
  border: 1px solid #ddd;
}

.table thead,
.table tbody {
  display: contents;
}

.table tfoot {
  background-color: red;
}

.table tr {
  display: contents;
}

.table td,
.table th {
  padding: 1rem;
  border-bottom: 1px solid white;
  //   border: 1px solid #ddd;
}

.table thead td {
  font-weight: bold;
  background-color: #f2f2f2;
  color: black;
}
